START
PUSHN 1
PUSHN 1
PUSHN 1
PUSHN 1
PUSHI 0
STOREL 3
PUSHS "Quantas frutas diferentes?"
WRITES
READ
ATOI
STOREL 2
LOOP0: PUSHS "Digite a fruta:"
WRITES
READ
STOREL 0
PUSHS "Qual quantidade?"
WRITES
READ
ATOI
STOREL 1
PUSHL 3
PUSHL 3
ADD
STOREL 3
PUSHL 2
PUSHI 1
SUB
STOREL 2
PUSHL 2
PUSHI 0
SUP
JZ ENDLOOP0
JUMP LOOP0
ENDLOOP0: PUSHS "Sua lista tem tamanho igual a:"
WRITES
PUSHL 3
WRITEI
STOP
