START
PUSHN 1
PUSHN 1
PUSHN 1
PUSHN 1
PUSHN 1
PUSHN 1
PUSHN 1
PUSHN 1
PUSHS "Digite o seu nome: "
WRITES
READ
STOREL 2
PUSHS "Digite o seu sobrenome"
WRITES
READ
STOREL 4
PUSHS "Digite a sua idade: "
WRITES
READ
ATOI
STOREL 0
PUSHL 5
PUSHF 5.0
PUSHL 5
PUSHF 50.0
FMUL
ITOF
PUSHF 10.0
FDIV
FSUB
FMUL
STOREL 7
PUSHL 5
PUSHF 10.0
FMUL
STOREL 6
PUSHL 5
PUSHL 6
FMUL
ITOF
PUSHL 7
FDIV
STOREL 7
PUSHL 2
PUSHS " "
CONCAT
PUSHL 4
CONCAT
PUSHS ", os números gerados sao: "
CONCAT
STOREL 3
PUSHL 3
WRITES
PUSHL 6
WRITEF
PUSHL 7
WRITEF
STOP
