START
PUSHN 1
PUSHN 1
PUSHN 1
PUSHS "Digite o valor de x:"
WRITES
READ
ATOI
STOREL 0
PUSHS "Digite o valor de y:"
WRITES
READ
ATOI
STOREL 1
PUSHS "Digite o valor de z:"
WRITES
READ
ATOI
STOREL 2
PUSHL 0
PUSHL 2
SUP
PUSHL 1
PUSHL 2
SUP
NOP //nao implementado
JZ IF0
PUSHS "Pelo menos um numero e > que z"
WRITES
JUMP ELSE0
IF0: LOOP0: PUSHL 2
PUSHI 1
ADD
STOREL 2
PUSHL 2
PUSHL 1
INF
PUSHL 2
PUSHL 0
INF
NOP //nao implementado
JZ ENDLOOP0
JUMP LOOP0
ENDLOOP0: ELSE0: STOP
