START
PUSHN 1
PUSHN 1
PUSHN 1
PUSHN 1
PUSHS "Digite o valor de a:"
WRITES
READ
ATOI
STOREL 0
PUSHS "Digite o valor de c:"
WRITES
READ
ATOI
STOREL 2
PUSHI 10
STOREL 1
PUSHL 0
PUSHL 2
MUL
ITOF
PUSHL 1
PUSHI 5
ADD
PUSHI 345
SUB
ITOF
FDIV
STOREL 3
PUSHS "O resultado e: "
WRITES
PUSHL 3
WRITEF
STOP