START
PUSHN 1
PUSHN 1
PUSHN 1
PUSHN 1
PUSHS "Entre com o valor de a: "
WRITES
READ
ATOF
STOREL 0
PUSHL 0
PUSHL 0
FMUL
STOREL 2
PUSHS "O valor de b1 e: "
WRITES
PUSHL 2
WRITEF
PUSHL 2
PUSHL 0
ITOF
PUSHF 2.0
FDIV
PUSHL 0
PUSHF 5.0
FADD
FMUL
FADD
STOREL 3
PUSHS "O valor de b2 e: "
WRITES
PUSHL 3
WRITEF
STOP